.cell {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(205, 205, 255);
  outline: 1px red solid;
}

.cellX {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(205, 205, 255);
  outline: 1px red solid;
  &:before {
    content: "";
    background-color: red;
    width: 90%;
    height: 90%;
    clip-path: polygon(
      10% 0,
      0 10%,
      40% 50%,
      0 90%,
      10% 100%,
      50% 60%,
      90% 100%,
      100% 90%,
      60% 50%,
      100% 10%,
      90% 0,
      50% 40%
    );
  }
}

.cellO {
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(205, 205, 255);
  outline: 1px red solid;
  &:before {
    content: "";
    // clip-path: circle(24.3% at 50% 50%);
    background-color: red;
    width: 90%;
    height: 90%;
    border-radius: 50%;
  }
  &:after {
    position: absolute;
    content: "";
    // clip-path: circle(24.3% at 50% 50%);
    background-color: white;
    width: 70%;
    height: 70%;
    border-radius: 50%;
  }
}
